<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753552656829-eej9cttfg9qc0iqrq2slknqhth5afljk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753552656829-eej9cttfg9qc0iqrq2slknqhth5afljk</string>
	<key>API_KEY</key>
	<string>AIzaSyDHHrc1ZusUV4x1j87w8sDjbCrWIMrnibs</string>
	<key>GCM_SENDER_ID</key>
	<string>753552656829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>drnauman2016-gmail.com.DMV-QUIZ</string>
	<key>PROJECT_ID</key>
	<string>dmv-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>dmv-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753552656829:ios:294290510d20a91f59aad4</string>
	<key>DATABASE_URL</key>
	<string>https://dmv-quiz.firebaseio.com</string>
</dict>
</plist>